.pokeball {
    width: 12rem;
    height:12rem;
    top:50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    position: absolute;
}
.pixel {
    width: 1rem;
    height: 1rem;
    box-shadow: 
    /* primeira linha */
    0rem 0rem 0 -0.05rem #eee,
    1rem 0rem 0 -0.05rem #fff,
    2rem 0rem 0 -0.05rem #fff,
    3rem 0rem 0 -0.05rem #fff,
    4rem 0rem 0 -0.05rem #000,
    5rem 0rem 0 -0.05rem #000,
    6rem 0rem 0 -0.05rem #000,
    7rem 0rem 0 -0.05rem #000,
    8rem 0rem 0 -0.05rem #fff,
    9rem 0rem 0 -0.05rem #fff,
    10rem 0rem 0 -0.05rem #fff,
    11rem 0rem 0 -0.05rem #fff,
    /* segunda linha*/
    0rem 1rem 0 -0.05rem #fff,
    1rem 1rem 0 -0.05rem #fff,
    2rem 1rem 0 -0.05rem #000,
    3rem 1rem 0 -0.05rem #000,
    4rem 1rem 0 -0.05rem #ebc717,
    5rem 1rem 0 -0.05rem #ebc717,
    6rem 1rem 0 -0.05rem #ebc717,
    7rem 1rem 0 -0.05rem #ebc717,
    8rem 1rem 0 -0.05rem #000,
    9rem 1rem 0 -0.05rem #000,
    10rem 1rem 0 -0.05rem #fff,
    11rem 1rem 0 -0.05rem #fff,
    /* terceira linha */
    0rem 2rem 0 -0.05rem #fff,
    1rem 2rem 0 -0.05rem #000,
    2rem 2rem 0 -0.05rem #424242,
    3rem 2rem 0 -0.05rem #ebc717,
    4rem 2rem 0 -0.05rem #424242,
    5rem 2rem 0 -0.05rem #424242,
    6rem 2rem 0 -0.05rem #424242,
    7rem 2rem 0 -0.05rem #424242,
    8rem 2rem 0 -0.05rem #ebc717,
    9rem 2rem 0 -0.05rem #424242,
    10rem 2rem 0 -0.05rem #000,
    11rem 2rem 0 -0.05rem #fff,
    /* quarta linha */
    0rem 3rem 0 -0.05rem #fff,
    1rem 3rem 0 -0.05rem #000,
    2rem 3rem 0 -0.05rem #424242,
    3rem 3rem 0 -0.05rem #ebc717,
    4rem 3rem 0 -0.05rem #424242,
    5rem 3rem 0 -0.05rem #424242,
    6rem 3rem 0 -0.05rem #424242,
    7rem 3rem 0 -0.05rem #424242,
    8rem 3rem 0 -0.05rem #ebc717,
    9rem 3rem 0 -0.05rem #424242,
    10rem 3rem 0 -0.05rem #000,
    11rem 3rem 0 -0.05rem #fff,
    /* quinta linha */
    0rem 4rem 0 -0.05rem #000,
    1rem 4rem 0 -0.05rem #424242,
    2rem 4rem 0 -0.05rem #424242,
    3rem 4rem 0 -0.05rem #ebc717,
    4rem 4rem 0 -0.05rem #424242,
    5rem 4rem 0 -0.05rem #424242,
    6rem 4rem 0 -0.05rem #424242,
    7rem 4rem 0 -0.05rem #424242,
    8rem 4rem 0 -0.05rem #ebc717,
    9rem 4rem 0 -0.05rem #424242,
    10rem 4rem 0 -0.05rem #424242,
    11rem 4rem 0 -0.05rem #000,
    /* sexta linha */
    0rem 5rem 0 -0.05rem #000,
    1rem 5rem 0 -0.05rem #424242,
    2rem 5rem 0 -0.05rem #424242,
    3rem 5rem 0 -0.05rem #ebc717,
    4rem 5rem 0 -0.05rem #424242,
    5rem 5rem 0 -0.05rem #000,
    6rem 5rem 0 -0.05rem #000,
    7rem 5rem 0 -0.05rem #424242,
    8rem 5rem 0 -0.05rem #ebc717,
    9rem 5rem 0 -0.05rem #424242,
    10rem 5rem 0 -0.05rem #424242,
    11rem 5rem 0 -0.05rem #222,
    /* setima linha */
    0rem 6rem 0 -0.05rem #000,
    1rem 6rem 0 -0.05rem #000,
    2rem 6rem 0 -0.05rem #424242,
    3rem 6rem 0 -0.05rem #ebc717,
    4rem 6rem 0 -0.05rem #000,
    5rem 6rem 0 -0.05rem #fff,
    6rem 6rem 0 -0.05rem #fff,
    7rem 6rem 0 -0.05rem #000,
    8rem 6rem 0 -0.05rem #ebc717,
    9rem 6rem 0 -0.05rem #424242,
    10rem 6rem 0 -0.05rem #000,
    11rem 6rem 0 -0.05rem #000,
    /* oitava linha */
    0rem 7rem 0 -0.05rem #000,
    1rem 7rem 0 -0.05rem #fff,
    2rem 7rem 0 -0.05rem #000,
    3rem 7rem 0 -0.05rem #000,
    4rem 7rem 0 -0.05rem #000,
    5rem 7rem 0 -0.05rem #fff,
    6rem 7rem 0 -0.05rem #fff,
    7rem 7rem 0 -0.05rem #000,
    8rem 7rem 0 -0.05rem #000,
    9rem 7rem 0 -0.05rem #000,
    10rem 7rem 0 -0.05rem #fff,
    11rem 7rem 0 -0.05rem #000,
    /* nona linha */
    0rem 8rem 0 -0.05rem #fff,
    1rem 8rem 0 -0.05rem #000,
    2rem 8rem 0 -0.05rem #fff,
    3rem 8rem 0 -0.05rem #fff,
    4rem 8rem 0 -0.05rem #fff,
    5rem 8rem 0 -0.05rem #000,
    6rem 8rem 0 -0.05rem #000,
    7rem 8rem 0 -0.05rem #fff,
    8rem 8rem 0 -0.05rem #fff,
    9rem 8rem 0 -0.05rem #fff,
    10rem 8rem 0 -0.05rem #000,
    11rem 8rem 0 -0.05rem #fff,
    /* decima linha */
    0rem 9rem 0 -0.05rem #fff,
    1rem 9rem 0 -0.05rem #000,
    2rem 9rem 0 -0.05rem #fff,
    3rem 9rem 0 -0.05rem #fff,
    4rem 9rem 0 -0.05rem #fff,
    5rem 9rem 0 -0.05rem #fff,
    6rem 9rem 0 -0.05rem #fff,
    7rem 9rem 0 -0.05rem #fff,
    8rem 9rem 0 -0.05rem #fff,
    9rem 9rem 0 -0.05rem #fff,
    10rem 9rem 0 -0.05rem #000,
    11rem 9rem 0 -0.05rem #fff,
    /* decima primeira linha */
    0rem 10rem 0 -0.05rem #fff,
    1rem 10rem 0 -0.05rem #fff,
    2rem 10rem 0 -0.05rem #000,
    3rem 10rem 0 -0.05rem #000,
    4rem 10rem 0 -0.05rem #fff,
    5rem 10rem 0 -0.05rem #fff,
    6rem 10rem 0 -0.05rem #fff,
    7rem 10rem 0 -0.05rem #fff,
    8rem 10rem 0 -0.05rem #000,
    9rem 10rem 0 -0.05rem #000,
    10rem 10rem 0 -0.05rem #fff,
    11rem 10rem 0 -0.05rem #fff,
    /* decima segunda linha */
    0rem 11rem 0 -0.05rem #fff,
    1rem 11rem 0 -0.05rem #fff,
    2rem 11rem 0 -0.05rem #fff,
    3rem 11rem 0 -0.05rem #fff,
    4rem 11rem 0 -0.05rem #000,
    5rem 11rem 0 -0.05rem #000,
    6rem 11rem 0 -0.05rem #000,
    7rem 11rem 0 -0.05rem #000,
    8rem 11rem 0 -0.05rem #fff,
    9rem 11rem 0 -0.05rem #fff,
    10rem 11rem 0 -0.05rem #fff,
    11rem 11rem 0 -0.05rem #fff
}